.header2 {
    border-bottom: 1px #c2dbea solid;
}
.cont_podarki {
    max-width: 1280px;
    margin: 0 auto;
}
.bread_crumb {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.4;
    font-family: 'proximanovalight';
}
.bread_crumb a {
    color: #545454;
    
}
.bread_crumb a:hover {
    text-decoration: none;
}
.cont_podarki h1 {
    font-size: 50px;
    line-height: 1.1;
    font-family: "proximanovareg";
    font-weight: normal;
    text-transform: none;
    margin: 0;
    padding: 0;
    margin-top: 35px;
}
.filter {
    padding: 0 90px;
    border-radius: 50px;
    min-height: 100px;
    background: #377fa6;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.filter .left {
    font-size: 23px;
    line-height: 1.3;
    color: #fff;
    font-family: "proximanovaextrabold";
    text-transform: uppercase;
    letter-spacing: -0.5px;
    width: 237px;
    border-right: 1px solid;
    padding-right: 20px;
}
.center {
    display: flex;
    gap: 20px;
}
.filter .center .button_dropdown {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 110;
    align-items: center;
    height: 47px;
    background: #fff;
    border-radius: 25px;
    padding: 0px 20px 0px 18px;
    cursor: pointer;
    gap: 5px;
}
.filter .center .button_dropdown .dropdown_content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 45px;
    width: 355px;
    min-height: 115px;
    left: 0;
    border-radius: 0 20px 20px;
    flex-direction: column;
    padding: 20px;
    
}
.filter .center .button_dropdown .dropdown_content label {
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 3px;
}
.filter .center .button_dropdown .dropdown_content label:hover {
    background: #3087d7;
    color: #fff;
}
.drop {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.filter .center .button_dropdown .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.filter .center .button_dropdown.active .dropdown_content {
    display: block;
}

.filter .center .button_dropdown span:hover, 
.filter .center .button_dropdown:hover svg path, .filter .center .button_dropdown:hover {
    fill: #5db7b9;
    color: #5db7b9;
}

.filter .right .podbor {
    display: inline-flex;
    vertical-align: top;
    height: 47px;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 6px 15px;
    min-width: 184px;
    max-width: 200px;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    font-family: "proximanovareg";
    background: transparent;
    text-transform: uppercase;
    user-select: none;
    transition: all 0.1s ease-out 0s;
    border: 2px #fff solid;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    text-decoration: none !important;
    border-radius: 25px;
    cursor: pointer;
}
.filter .right .podbor:hover {
    background: #015385;
    border: none;
}
.right {
    border-left: 1px solid #fff;
    padding-left: 10px;
    height: 59px;
    display: flex;
    align-self: center;
    align-items: center;
}
a.subtitle{
    font-family: "proximanovalight";
    text-decoration: none;
    font-size: 35px;
    color: #000;
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.card {
    width: 400px;
    height: 650px;
    box-shadow: none;
    transition: box-shadow 0.1s ease-out 0s, background-color 0.3s ease-out 0s;
    padding: 30px 20px 23px 20px;
    border: 1px #ccc solid;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    position: relative;
}
.card img {
    width: 148px;
    height: 195px;
    margin: 20px 0;
}
.card .izbran {
    border-radius: 50%;
    border: 1px solid;
    padding: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
    position: absolute;
    top: 20px;
    right: 20px;
}
.close_ceil {
    font-family: "proximanovareg";
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px;
    background: #cf1818;
    color: #ffffff;
    opacity: 0.9;
    width: 200px;
    text-align: center;
    margin-top: -80px;
    border-radius: 30px;
}
.card .izbran:hover svg {
    fill: #d96f6f;
}
.card p {
    font-family: "proximanovalight";
    font-size: 21px;
}
.card h3 {
    font-family: "proximanovabold";
    font-size: 32px;
    margin-bottom: 40px;
}
.card span.myag {
    font-size: 16px;
    line-height: 1.1;
    font-family: "proximanovareg";
    color: #5db7b9;
    text-align: center;
    margin-top: 9px;
}
.korzina_btn {
    text-decoration: none !important;
    position: relative;
    text-align: left;
    height: 63px;
    width: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffa800;
    border-radius: 100%;
    transition: all 0.2s ease-out 0s;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 0;
    -webkit-appearance: none;
}
.korzina_btn svg {
    width: 32px;
    height: 32px;
    fill: #fff;
}
.cennik {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.cennik .cena {
    text-align: left;
    white-space: nowrap;
    position: relative;
    font-size: 38px;
    line-height: 1;
    font-family: "Roboto";
    color: #000;
}
.vnytri {
    display: inline-flex;
    vertical-align: top;
    height: 42px;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 6px 15px;
    min-width: 232px;
    max-width: 250px;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    font-family: "proximanovalight";
    background: #5db7b9;
    user-select: none;
    transition: background 0.2s ease-out 0s;
    border: 0;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    text-decoration: none !important;
    border-radius: 20px;
    margin-top: auto;
}