body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 17px;
  line-height: 1.5;
  font-family: "proximanovareg", "Roboto", sans-serif;
}

.header_1_menu ul a {
  color: #000;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
.index_head_title h1 {
  font-size: 150px;
  line-height: 1;
  font-family: "proximanovablack";
  color: #377fa6;
  letter-spacing: -8px;
  margin: 0;
  padding: 0;
  transform: scale(0.9, 1);
  text-align: center;
  text-transform: uppercase;
}
/* Index_shap */

.index_shap {
  width: 100%;
  margin-top: -80px;
  display: flex;
  justify-content: center;
}

.index_shap img {
  width: 80%;
}

.under_shap {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  gap: 83px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.left_under_shap {
  font-size: 16px;
}

.right_under_shap {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}

/* CATEGORY */

.category_container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.category {
  display: flex;
  flex-wrap: wrap;
}

/* category 1 */

.category_id {
  width: 50%;
  padding: 9px;
}

.category_id a {
  display: block;
  height: 372px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-decoration: none !important;
}

.category_id a .category_text {
  padding: 35px 0 0 35px;
  position: relative;
  z-index: 30;
}

.category_id a .category_text .category_text_1 {
  font-size: 20px;
  line-height: 1;
  color: #000;
  font-family: "proximanovareg";
  margin-bottom: 5px;
  max-width: 410px;
}

.category_id a .category_text .category_text_2 {
  font-size: 41px;
  line-height: 0.9;
  color: #000;
  font-family: "proximanovablack";
  color: #2c8893;
  text-transform: uppercase;
  max-width: 410px;
}

.category_id a .category_cont {
  position: absolute;
  left: 35px;
  bottom: 45px;
  z-index: 20;
}

.category_id a .category_cont .category_price p {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  line-height: 1;
  font-family: "proximanovablack";
  color: #000;
  padding: 15px 30px 15px 30px;
  background: #81cecc;
  border-radius: 25px;
}

.category_id a .category_cont .caregory_variant p {
  font-size: 16px;
  line-height: 1;
  color: #000;
  font-family: "proximanovareg";
  padding-left: 10px;
  margin-top: 13px;
}

.index_category_list_item_photo {
  position: absolute;
  right: 3%;
  bottom: 3.5%;
  z-index: 10;
}

.index_category_list_item_photo img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/* category 2 */

.category_id[data-id="2"] .category_text_2 p {
  color: #255484;
}
.category_id[data-id="2"] .category_cont .category_price p {
  background: #62b8ec;
}
.category_id[data-id="2"] .index_category_list_item_photo {
  right: 9%;
  bottom: 8%;
}

/* category 3 */

.category_id[data-id="3"] {
  width: 38%;
}
.category_id[data-id="3"] .category_text_2 p {
  color: #6d4171;
}
.category_id[data-id="3"] .category_cont .category_price p {
  background: #be80ce;
}
.category_id[data-id="3"] .index_category_list_item_photo {
  right: 6.5%;
  bottom: 6.5%;
}

/* category 4 */

.category_id[data-id="4"] {
  width: 62%;
}
.category_id[data-id="4"] .category_text_2 p {
  color: #564b43;
}
.category_id[data-id="4"] .category_cont .category_price p {
  background: #fc7f31;
}
.category_id[data-id="4"] .index_category_list_item_photo {
  right: 6.5%;
  bottom: 1.5%;
}

/* CARDS */

.tovar_hit_container {
  background-image: url(../../file/i_pic/index_tovar_hit_bg.jpg);
}
.tovar_hit h1 {
  text-align: center;
  font-size: 43px;
  font-family: "proximanovareg";
  padding: 60px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  max-width: 1440px;
  margin: 0 auto;
  line-height: 1;
  align-items: center;
  justify-content: center;
  padding: 0 0 60px 0;
}

.card {
  width: 350px;
  box-shadow: none;
  transition: box-shadow 0.1s ease-out 0s, background-color 0.3s ease-out 0s;
  padding: 30px 20px 23px 20px;
  border: 1px #ccc solid;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card:hover {
  box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.14),
    0 0px 2px 0px rgba(0, 0, 0, 0.14);
}

.card img {
  height: 195px;
  margin-top: 15px;
}

.card .heart,
.card .heart * {
  transition: all 0.06s ease-out 0s;
}

.card .heart {
  position: absolute;
  z-index: 30;
  top: 35px;
  right: 35px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  background: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.new_year_present {
  font-size: 21px;
  line-height: 1;
  color: #000;
  font-family: "proximanovareg";
  text-align: center;
}

.new_year_present a {
  text-decoration: none;
  color: #000;
}

.izbran {
  display: inline-flex;
  vertical-align: top;
}
.izbran svg {
  vertical-align: top;
}
.card .heart:hover svg path {
  fill: #cf2733;
}
.card .heart.active {
  background: #cf2430;
}
.card .heart.active svg path {
  fill: #fff !important;
}

.card p {
  font-family: "proximanovalight";
  font-size: 21px;
}

.card_head {
  margin-top: 10px;
  font-size: 32px;
  line-height: 0.9;
  font-family: "proximanovabold";
  min-height: 56px;
  text-align: center;
}

.card_head a {
  text-decoration: none;
  color: #000;
}

.card span.myag {
  font-size: 16px;
  line-height: 1.1;
  font-family: "proximanovareg";
  color: #5db7b9;
  text-align: center;
  margin-top: 9px;
}
.korzina_btn {
  text-decoration: none !important;
  position: relative;
  text-align: left;
  height: 63px;
  width: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffa800;
  border-radius: 100%;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  -webkit-appearance: none;
}
.korzina_btn svg {
  width: 32px;
  height: 32px;
  fill: #fff;
}
.cennik {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.cennik .cena {
  text-align: left;
  white-space: nowrap;
  position: relative;
  font-size: 38px;
  line-height: 1;
  font-family: "Roboto";
  color: #000;
  text-decoration: none;
}

.image_card {
  height: 195px;
}

.ves {
  margin: 20px 0 10px;
}

.napolnenie {
  text-align: center;
  margin-top: 28px;
  line-height: 1;
}

.napolnenie a {
  display: inline-flex;
  vertical-align: top;
  height: 42px;
  justify-content: center;
  align-items: center;
  padding: 5px px 15px 6px 15px;
  min-width: 232px;
  max-width: 250px;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  font-family: "proximanovareg";
  background: #5db7b9;
  user-select: none;
  transition: 0.2s ease-out 0s;
  border: 0;
  margin: 0;
  outline: 0;
  text-decoration: none !important;
  border-radius: 20px;
}

/* ПОЧЕМУ МЫ why we */

.why_we_container {
  margin-top: 170px;
  margin-bottom: 65px;
  display: flex;
  justify-content: flex-end;
}

.why_we {
  max-width: 1715px;
  flex: 1;
}

.why_we_cont {
  display: flex;
  flex-wrap: nowrap;
}

.left_block {
  flex: 1;
}

.right_block {
  width: 953px;
  margin-left: 75px;
}

.right_block img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.left_block h1 {
  padding-top: 35px;
  padding-left: 30px;
  font-size: 45px;
  line-height: 1.1;
  font-family: "proximanovareg";
}

.mini_blocks {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mini_block {
  margin: 30px 0 30px 0;
  width: 295px;
  will-change: transform;
}

.mini_block_image {
  text-align: center;
  min-height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini_block_image img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.mini_block_text p {
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.4;
  font-family: "proximanovareg";
  text-align: center;
}

/* FOOTER */

footer{
  background:#155577;
  min-height:300px;
  padding:30px 0 45px 0;
}

.footer_container{
  max-width: 1280px;
  margin: 0 auto;
}

.footer1_head{
  padding-left:35px;
  padding-right:100px;
}
.footer1_cont{
  display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
}
.footer1_cont_box1{
  width:210px;
}
.footer1_cont_box2{
  width:255px;
}
.footer1_cont_box3{
  width:400px;
}

.footer1_menu ul,
.footer1_menu ul li{
  list-style-type:none;
  list-style-image:none;
  margin:0;
  padding:0;
}
.footer1_menu ul li{
  display:block;
  font-family:"proximanovareg";
  line-height:1.2;
  margin-top:11px;
}
.footer1_menu ul li:nth-child(1){
  margin:0;
}
.footer1_menu ul li a{
  font-size:17px;
  color:#fff;
  text-decoration:none;
}
.footer1_menu ul li a:hover{
  color:#fff;
  text-decoration:underline;
}
.footer1_menu ul li.active a{
  opacity:0.8;
}

.footer1_contact1{
  font-family:"proximanovareg";
  font-size:17px;
  line-height:1.7;
  color:#fff;
}
.footer1_contact1 a{
  color:#fff;
  text-decoration:none;
}
.footer1_contact1 a:hover{
  color:#fff;
  text-decoration:none;
}

.footer1_phone_number{
  font-family:"proximanovareg";
  font-size:41px;
  line-height:1;
  letter-spacing:-1px;
}
.footer1_phone_number a{
  color:#fff;
  text-decoration:none;
}
.footer1_phone_number a:hover{
  color:#fff;
  text-decoration:none;
}

.footer1_adress{
  margin-top:20px;
  font-family:"proximanovareg";
  font-size:23px;
  line-height:1.3;
  color:#fff;
}

.footer1_foot{
  margin-top:83px;
}
.footer1_foot_inner{
  border-top:1px #487a95 solid;
  padding-top:15px;
  padding:30px 12px 0 12px;
}
.footer1_foot_cont1{
  display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
  min-height:50px;
}
.footer1_foot_cont_left{
  display:flex;
  flex-wrap:nowrap;
}
.footer1_foot_cont_left_box1{
  font-size:15px;
  line-height:1;
  color:#dadada;
  font-family:"proximanovareg";
}
.footer1_foot_cont_left_box2{
  margin-left:75px;
  font-size:15px;
  line-height:1;
  color:#dadada;
  font-family:"proximanovareg";
}
.footer1_foot_cont_left_box2 a{
color:#dadada;
text-decoration:underline;
}
.footer1_foot_cont_left_box2 a:hover{
color:#dadada;
text-decoration:none;
}
.footer1_foot_cont1_box2{
  text-align:right;
}

.footer1_foot_cont_right{
  display:inline-flex;
  flex-wrap:nowrap;
}
.footer1_studio{
  margin-left:45px;
}